*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 16px;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
}
nav .navbar{
    height: 100%;
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
nav .navbar .nav-links{
    height: 100%;
    line-height: 70px;
}
nav .navbar .nav-links .links{
    display: flex;
}
nav .navbar .nav-links .links .active{
    font-weight: 400;
}
nav .navbar .nav-links .links li{
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 25px;
}
nav .navbar .nav-links .links li a{
    color:black;
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
    font-size: 16px;
    font-weight: 300;
}
.navbar .bx-menu,
.nav-links .sidebar-logo .logo-name,
.nav-links .sidebar-logo .bx-x{
    display: none;
}
.main-photo{
    max-height: 900px;
    width: 100%;
}
.tour-photo{
    max-height: 900px;
    width: 100%;
}
main{
    margin-top: 70px;
}
.column-container{
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    margin-right: 75px;
}
.column-content{
    background-color: rgba(162,24,91,255);
    margin-bottom: 10px;
    text-align: center;
    color:aliceblue;
    font-size: large;
    padding: 30px;
}
.column{
    margin-left: 10px;
}
.footer{
    text-align: center;
    align-content: center;
    background-color: #ab2f6b;
    height: 130px;
    max-width: 100%;
    justify-content: center;
    margin-inline: 75px;
    margin-bottom: 20px;
}
.contact-bottom{
    padding: 15px ;
    color: white;
    line-height: 50px;
}
.contact-button{
    text-decoration: none;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}
.contact-button:hover{
    background-color: #d1699b;
    font-size: 20px;
    transition: all 0.5s ease;
    border: none;
}
@media (max-width:950px) {
    nav .navbar{
        max-width: 100%;
        padding: 0 25px;
    }
    nav .navbar .nav-links .links li{
        padding: 0 10px;
    }
    nav .navbar .nav-links .links li a{
        font-size: 15px;
        color: white;
    }
}
@media (max-width:800px){
    nav .navbar .nav-links{
        display: block;
        position: fixed;
        background-color: #ab2f6b;
        top:0;
        left: -100%;
        max-width: 250px;
        width: 100%;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
    }
    nav .navbar .nav-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .bx-menu{
        color:black;
        font-size: 20px;
        font-weight: 300;
        display: block;
    }
    nav .navbar .nav-links .links .active{
        font-weight: 500;
    }
    .nav-links .sidebar-logo .logo-name,
    .nav-links .sidebar-logo .bx-x{
        color:white;
        font-size: 20px;
        font-weight: 500;
        display: block;

    }
    nav .navbar .nav-links .links{
        display: block;
        color:black;
        margin-top: 10px;
    }
    .column-container{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .container{
        max-width: 100%;
        margin-inline: auto;
        border-radius: 0;
    }
    .column-content{
        max-width: 100%;
    }
    body{
        margin-top: 0;
    }    
    main{
        margin-top: 0;
    }
    .mapka{
        display: none;
    }
    .footer{
        margin-inline: 0px;
    }
    .column{
        margin-left: 0px;
    }

}
